/*body{
    background-color: rgb(186, 139, 139);
    background: url('./Assets/bg2.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
} */
 
.login-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(173, 118, 118);
    background-color: rgb(238, 214, 214);
    border-radius: 10px;
    width: 350px;
    
}
.login-form h1{
    justify-content: center;
    display: flex;
    margin-right: 2px;
    font-size: 30px;

}
.login-form h5{
    font-size: 15px;
    color: red;
}
.login-form label{
    padding: 0px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
}
.login-form input{
    margin: 2px 0px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid grey;
    font-size: 18px;
}
.login-form input:focus{
    outline: 2px solid rgb(140, 48, 78);
    border: none;
}
.login-form button{
    background-color: rgb(165, 101, 101);
    margin: 20px 0px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
}
.login-form button:hover{
    background-color: rgb(204, 161, 161);
    color: purple;
    cursor: pointer;
}
.success-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(180, 225, 195);
    padding: 10px;
    border-radius: 10px;
    color: green;
    font-weight: 400;
}
.error-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(234, 184, 184);
    border-radius: 10px;
    color: red;
}
.account span{
    color:green;
}