.category2-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category2-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    width: 500px;
    border: 1px solid rgb(245, 245, 245);
    box-shadow: 0px 0px 5px 0px grey;
    justify-content: baseline;
    padding: 10px;
    align-items: center;
    height: 100px;
    border-radius: 30px;
}

.card-form {
    border: 1px solid rgb(245, 245, 245);
    padding: 10px;
    height: 100%;

}

.card-form label,
.card-form input {
    display: block;
    margin-bottom: 10px;
}

.card-form button {
    background-color: rgb(172, 102, 102);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.card-form button:hover {
    background-color: #0056b3;
}